<!DOCTYPE html>
<html>
  <head>
    {{ content_for_header }}
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"
    />
    {{- 'styles.css' | asset_url | stylesheet_tag -}}
  </head>
  <body>
    <div class="container">
      {{ content_for_layout }}
    </div>
    {{- 'theme.js' | asset_url | script_tag -}}
  </body>
</html>
