<div class="cart__page">
  {% if cart.items.size > 0 %}
  <h1 class="cart-page__title">Your Cart</h1>
    <form class="cart__form" action="/cart" method="post">
      <div class="cart-form__headings">
        <h5 class="name__heading">Item</h5>
        <h5 class="quantity__heading">Quantity</h5>
        <h5 class="price__heading">Price</h5>
      </div>

      <div class="cart-items__wrapper">
        {% for item in cart.items %}
          {% include 'cart-item' %}
        {% endfor %}
      </div>

      <div class="cart-form__footer">
        <p class="cart-total__price">{{ cart.total_price | money }}</p>
        <div class="cart__buttons">
          <input type="submit" name="update" value="Update">
          <input type="submit" name="checkout" value="Checkout">
        </div>
      </div>
    </form>
  {% else %}
    <p class="cart-page__title">
      Your cart is empty
    </p>
  {% endif %}
</div>